@page "/TecnicoIndex"
@page "/TecnicoIndex{TecnicoId:int}"
@inject TecnicosServices tecnicoservice
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

@*Consulta*@
<div class="card">
    <div class="card-header">
        <h1>Consulta T&eacute;cnico</h1>
        <div class="d-flex align-items-start">
            <div class="px-1">
                <button type="button" class="btn btn-outline-primary" @onclick="Crear">Crear</button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <br>
        @*Filtrar con sus condiciones*@
        <div class="row">
            <div class="col-md-0.5">
                <label>Buscar por:</label>
            </div>
            <div class="col-md-3">
                <InputSelect @bind-Value="Opción" class="form-select">
                    <option value="0">Seleccione el Campo</option>
                    <option value="1">ID</option>
                    <option value="2">Sueldo Hora</option>
                </InputSelect>
            </div>
            <div class="col-auto">
                @switch (Opción)
                {
                    case 1:
                        <div class="input-group">
                            <InputNumber min="1" @bind-Value="tecnico.TecnicoId" class="form-control"></InputNumber>
                            <button type="button" class="btn btn-primary bi bi-search" @onclick="Buscar"></button>
                        </div>
                        break;
                    case 2:
                        <div class="input-group">
                            <InputNumber min="0.01" @bind-Value="tecnico.SueldoHora" class="form-control"></InputNumber>
                            <button type="button" class="btn btn-primary bi bi-search" @onclick="Buscar"></button>
                        </div>
                        break;
                }
            </div>
        </div>
        <br>
        @*Tabla Tecnicos*@
        <table class="table">
            <thead>
                <tr bgcolor="9FBB73">
                    <th>ID</th>
                    <th>Nombres</th>
                    <th>Sueldo Hora</th>
                    <th>Detalle</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            @*Datos Tecnicos*@
            <tbody>
                @foreach (var tecnico in ListaTecnicos)
                {
                    <tr>
                        <td>@tecnico.TecnicoId</td>
                        <td>@tecnico.Nombres</td>
                        <td>@tecnico.SueldoHora</td>
                        <td>
                            <a href="/TecnicoDetails/@tecnico.TecnicoId" class="bi bi-eye-fill" style="font-size: 1.5em;"></a>
                        </td>
                        <td>
                            <a href="/TecnicoEdit/@tecnico.TecnicoId" class="bi bi-journal-medical" style="font-size: 1.5em;"></a>
                        </td>
                        <td>
                            <a href="/TecnicoDelete/@tecnico.TecnicoId" class="bi bi-trash" style="font-size: 1.5em;"></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="card-footer">
            <div class="row">
                <div class="col-md-9">
                    <h6 class="align-content-between">Total de T&eacute;cnicos: @Total</h6>
                </div>
                <div class="col-md-3 text-right">
                    <h6 class="align-content-end">Total de Sueldo Hora: @TotalSueldoHora</h6>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int? TecnicoId { get; set; }
    public Tecnicos tecnico { get; set; } = new Tecnicos();
    public List<Tecnicos> ListaTecnicos { get; set; } = new List<Tecnicos>();
    public int Total => ListaTecnicos.Count;
    public decimal TotalSueldoHora => ListaTecnicos.Sum(tecnico => tecnico.SueldoHora);
    public int? Opción { get; set; } = 0;

    protected override async Task OnInitializedAsync()
    {
        await CargarTecnico();
    }
    private async Task CargarTecnico()
    {
        ListaTecnicos = await tecnicoservice.Listar(a => true);
    }
    public async Task Buscar()
    {
        switch (Opción)
        {
            case 1:
                ListaTecnicos = await tecnicoservice.Listar(a => a.TecnicoId == tecnico.TecnicoId);
                break;
            case 2:
                ListaTecnicos = await tecnicoservice.Listar(a => a.SueldoHora == tecnico.SueldoHora);
                break;
        }
    }
    public Task Crear()
    {
        NavigationManager.NavigateTo("/TecnicoCreate");
        return Task.CompletedTask;
    }
}